
* {
    margin: 0 auto;
    font-family: verdana;
}

body {
    margin:0;
    padding:0;
    height:100%;
}
main {
    height: 100%;
    position: relative;
}

nav {
    min-height: 40px;
    background: #092C56;
    color: #fff;

}

nav ul {
    padding: 10px;

}

nav ul li {
    display: inline;
    margin: 8px 8px;
    padding: 4px 7px;
    font-family: Calibri;
    font-size: 14px;
    /*border:1px solid #fff;*/

}

nav ul li:first-child {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
}

nav ul li:hover {
    border-radius: 15px;
    background: #001639;

}

nav ul li:nth-child(7n) input {
    margin-right: 1px;
    margin-left: 3px;
    background-color: #051D3F;
    border-radius: 15px;
    color: #fff;
    border: none;
    padding: 4px 8px;
}

nav ul li:nth-child(7n) input:hover {

    background-color: #051D3F;

}

nav ul li:nth-child(8n) button {
    margin-right: 1px;
    margin-left: 0px;
    background: #A1D111;
    color: #fff;
    border: none;

}

nav ul li:nth-child(8n) button:hover {

    margin-right: 1px;
    margin-left: 0px;

    color: #fff;
    border: none;

}
header{
    margin-bottom: 20px;

}

header article {
    margin: 10px 10px 10px 70px;
    padding: 10px;

}

header article p span:first-child {

    width: 100%;
    font-size: 24px;
}

header article p span:last-child {

    width: 100%;
    font-size: 12px;
    margin-left: 30px;
    color: #3E7BBE;

}

header section img {
    width: 100%;
    height: 330px;
}
section {
    margin-bottom: 50px;
    min-height:100%;
    position:relative;
}
section article {

    width: 60%;
    float: left;
    margin-left: 10%;

}

.imgTxt {

    width: 31%;
    margin-bottom: 15px;
    float: left;
    box-shadow: 1px 1px 1px 1px #808080;

}

.imgTxt img{
    height: 150px;
    width: 99%;
    padding: 1px 1px;
}

.text h4 {
    color:#2E73BC;
    margin-bottom: 2px;
}
.text{
    min-height: 150px;
    width: 85%;
    padding: 2px 16px;
    text-align: left;
    font-size: 13px;
    margin: inherit;
    color: #808080;

}

section article div:nth-child(3n+2) {

    margin-left: 3%;
    margin-right: 3%;

}

section aside {

    width: 30%;
    float: left;
}
aside section p {
    margin-left: 15px;
    font-size: 26px;
    margin-bottom: 20px;

}
aside section ul li {
    /*margin-left: 15px;*/
    font-size: 16px;
    margin-bottom: 20px;
    list-style: none;
    color: #2E73BC;

}
.second{
    background: #103A69;
    height: 175px;
    margin-left: 40px;
    width: 75%;
    color: #fff;
    margin-bottom: 20px;

}
.second p{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-right: 8px;

}
.second  button{
    background: #FF7D00;
    margin: 2% 33% 2% 33%;
    height: 40px;
    width: 100px;
    color: #fff;

}
.cname{

    box-shadow: 1px 1px 1px 1px #808080;
    height: 90px;
    width: 80%;
    margin-left: 0;
    margin-bottom: 20px;
}
.imgleft{

    width: 38%;
    float: left;
    height: 100%;
}
.imgleft img{

    width: 100%;

    height: 100%;
}
.textzone {
    width:54%;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    float: left;
}
.textzone h5 {
    margin-left: 12px;

}
.textzone h6 {
    margin-left: 12px;

}
.textzone  p{
    font-size: 11px;
    color: #808080;

}
.textzone  p span{
    font-size: 16px;
    color: #ff4500;
    padding-top: 3px;

}
.textzone  p span:last-child{
    font-size: 14px;
    color: #808080;
    padding-top: 3px;

}

.paging {
    clear: both;
    height: 50px;
    margin-top: 60px;


}
.paging ul li{
    display: inline;
    padding: 2px 10px;
    box-shadow: 1px 1px 1px 1px #808080;
    margin: 0 5px;
    background: #EDEDED;
}

.paging ul li:hover{
    background-color: #9DCD10;
}
.paging ul li:nth-child(7n+4){
    background-color: #9DCD10;

}

footer {
    clear: both;
    bottom:0;
    width:100%;
    height:50px;   /* Height of the footer */

}
.footerTop {
    background: #808080;
    height: 10px;
    margin-bottom: 0;
    padding-left: 100px;
    padding-top: 6px;
    color: #fff0f2;
    font-size: 12px;
}
.footerTop a{
    text-decoration: none;
    color: #9DCD10;
}
.footerBottom{
    height: 40px;
    margin-bottom: 0;

}

.footernav {
    height: 100%;
    margin-bottom: 0;
    color: #808080;

}

.footernav ul {
    padding: 10px;


}

.footernav ul li {
    display: inline;
    margin: 8px 8px;
    padding: 4px 7px;
    font-family: Calibri;
    font-size: 14px;
    /*border:1px solid #fff;*/

}
.footernav ul li:hover {
    border-radius: 15px;
    background: #001639;

}

.footernav ul li:first-child {
    margin-left: 90px;
    margin-right: 170px;
    font-size: 22px;
}



.footernav ul li:last-child {
    margin-left: 90px;
    margin-right: 190px;
    font-size: 25px;
}





